{{! Share Post widget }}
<aside class="widget widget--sharePost">
	<header class="widget__header">
		<h2 class="widget__title">Share this post</h2>
	</header>
	<section class="widget__body">
		<ul class="shareButtonList">
			<li><a class="shareButton shareButton--tweet" href="https://twitter.com/intent/tweet?text={{ uriencode title }}&amp;url={{ uriencode permalink }}&amp;via=davidosomething"><i class="icon-twitter-with-circle"></i><span>tweet this post</span></a></li>
			<li><a class="shareButton shareButton--facebook" href="http://www.facebook.com/dialog/share?app_id={{ fbAppId }}&amp;display=popup&amp;href={{ uriencode permalink }}&amp;redirect_uri={{ uriencode permalink }}"><i class="icon-facebook"></i><span>share on facebook</span></a></li>
		</ul>
	</section>
</aside>
