{{!
	Default page
}}
{{> globalStart }}
<article class="article" itemprop="mainEntity">
	<meta itemprop="name" content="{{ slug }}">
	<header class="article__header">
		<h1 class="article__title" itemprop="headline"><a rel="bookmark" class="article__header__link article__header__link--permalink" href="{{ permalink }}" itemprop="mainEntityOfPage url">{{{ title }}}</a></h1>
		{{#if subheader}}<p class="article__subheader" itemprop="alternativeHeadline">{{{ subheader }}}</p>{{/if}}
	</header>
	<div class="article__body" itemprop="articleBody">{{{ contents }}}</div>
	<footer class="article__footer">{{> changelog }}</footer>
</article>
{{> globalEnd }}
