{{!
	Home
	Listing of all posts with excerpts for home layout
}}
{{> globalStart }}
<section itemscope itemtype="http://schema.org/Blog">
	<header class="pageHeader">
		<h1 class="pageHeader__title" itemprop="name">Posts</h1>
	</header>
	{{#each collections.posts}}
		<article class="article article--excerpt" itemprop="blogPost" itemscope itemtype="{{ schema.itemtype }}">
			<header class="article__header">
				<h2 class="article__title" itemprop="headline"><a class="article__header__link" href="/{{ path }}" itemprop="mainEntityOfPage url">{{{ title }}}</a></h2>
				{{#if subheader}}<h2 class="article__subheader" itemprop="alternativeHeadline">{{{ subheader }}}</h2>{{/if}}
				<section class="article__meta">
					<time datetime="{{ moment datePublished toISOString=null }}" itemprop="datePublished">{{ moment date format="MMMM DD, YYYY" }}</time>
				</section>
			</header>
			<section class="article__body">{{{ excerpt }}}</section>
		</article>
	{{/each}}
</section>
{{> globalEnd }}
