{{! latest posts partial for main global layout }}
<section itemscope itemtype="http://schema.org/Blog">
	<header class="pageHeader">
		<h1 class="pageHeader__title" itemprop="name">Latest Posts</h1>
	</header>
	{{#each collections.posts}}
		<article class="article article--excerpt" itemprop="blogPost" itemscope itemtype="{{ schema.itemtype }}">
			<header class="article__header">
				<section class="article__meta">
					<time datetime="{{ moment date toISOString=null }}" itemprop="datePublished">{{ moment date format="D MMM YYYY" }}</time>
					{{> article__tags }}
				</section>
				<h1 class="article__title" itemprop="headline"><a class="article__header__link" href="{{ path }}" itemprop="mainEntityOfPage url">{{{ title }}}</a></h1>
				{{#if subtitle}}<h2 class="article__subtitle" itemprop="alternativeHeadline">{{{ subtitle }}}</h2>{{/if}}
			</header>
			<section class="article__body">{{{ excerpt }}}</section>
		</article>
	{{/each}}
</section>
