<header class="pageHeader">
	<h1 class="pageHeader__title">Latest Posts</h1>
</header>
{{#each collections.posts}}
	<article class="article article--excerpt" itemscope itemtype="http://schema.org/Article">
		<header class="article__header">
			<section class="article__meta">
				<time datetime="{{ moment date toISOString=null }}">{{ moment date format="D MMM YYYY" }}</time>
				{{> article__tags }}
			</section>
			<h1 class="article__title"><a class="article__header__link" href="{{ path }}">{{{ title }}}</a></h1>
			{{#if subtitle}}<h2 class="article__subtitle">{{{ subtitle }}}</h2>{{/if}}
		</header>
		<section class="article__body">{{{ excerpt }}}</section>
	</article>
{{/each}}
