{{! post partial for main global layout }}
<article class="article" itemprop="mainEntity">
	<meta itemprop="name" content="{{ slug }}">
	<header class="article__header">
		<section class="article__meta">
			<time datetime="{{ moment date toISOString=null }}" itemprop="datePublished">{{ moment date format="D MMM YYYY" }}</time>
			{{> article__tags }}
		</section>
		<h1 class="article__title" itemprop="headline"><a rel="bookmark" class="article__header__link--permalink" href="{{ permalink }}" itemprop="mainEntityOfPage url">{{{ title }}}</a></h1>
		{{#if subtitle}}<h2 class="article__subtitle" itemprop="alternativeHeadline">{{{ subtitle }}}</h2>{{/if}}
	</header>
	<section class="article__body" itemprop="articleBody">{{{ contents }}}</section>
	<footer class="article__footer">{{> comments }}</footer>
</article>
